html,
body {
  font-family: "Times New Roman", Times, serif;
  background-color: #f0f0f0;
}
table {
  width: 550px;
  border-collapse: collapse;
}
td {
  word-wrap: break-word;
  padding: 2px;
}
th {
  color: darkblue;
  text-decoration: underline;
  font-weight: bold;
  padding: 2px;
}
tr:first-child td,
tr:first-child th {
    border-bottom: 1px solid rgb(116, 116, 116);
}

tr:last-child td,
tr:last-child th {
    border-bottom: 1px solid rgb(138, 138, 138);
}
td:last-child, th:last-child {
    max-width: 300px;  
    white-space: wrap;  
}
.notice {
    width: 550px;
}


